<!-- Services Section -->
    <section id="focus">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Focus</h2>
                    <h3 class="section-subheading text-muted"></h3>
                    <p style="font-size: 20px;">The Accessible Magnetic Resonance Laboratory (AMRL) is a research group that focuses on developing and deploying MRI tools and methods to enable accessible imaging of pediatric patients with cancer, infectious diseases or mental health challenges.  We are a part of the <a href="https://www.hopkinsmedicine.org/radiology/research/divisions/cancer-imaging-research">Division of Cancer Imaging Research</a> at <a href="https://www.jhu.edu/">Johns Hopkins University</a>.</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cog fa-stack-1x fa-inverse"></i>
                      </span>
                    <h4 class="service-heading">Projects</h4>
                    <p class="text-muted">Want to work on advancing accessible MRI? Check out our research projects <a class="page-scroll" href="#portfolio">below</a>.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-wrench fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Tools</h4>
                    <p class="text-muted"> Check out some cool open source tools we have built <a class="page-scroll" href="#portfolio">here</a>.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                        <!-- <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i> -->
                    </span>
                    <h4 class="service-heading">Education</h4>
                    <p class="text-muted">Want to learn more about MR? Check out our educational initiatives <a class="page-scroll" href="#portfolio">here</a>.</p>
                </div>
            </div>
        </div>
    </section>
