<!-- Portfolio Grid Section -->
<section id="portfolio" class="bg-light-gray">
{% assign projects = site.projects %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Ongoing Projects</h2>
                <!--<h3 class="section-subheading text-muted">Projects</h3>-->
            </div>
        </div>
    <div class="row">
    {% for project in projects %}
            <!-- <div class="project"> -->
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="{{ project.github }}" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-github fa-4x"></i>
                        </div>
                    </div>
                    <img src="img/proj/{{ project.thumbnail }}" class="img-responsive img-centered" alt="{{ post.image-alt }}" width = "400" height = "auto">
                </a>
                <h4>{{ project.title }}</h4>
                <p>{{ project.description }}</p>
                <p><strong>Sponsor:</strong> {{ project.sponsor }}</p>
                <a href="{{ project.more_info }}" target="_blank" rel="noopener">Read more</a>...

            </div>
    {% endfor %}
    </div>
</div>
</section>